Python/Void_Editor

JS/Math_Expansion_Bot/key.txt
JS/Math_Expansion_Bot/token.json
JS/Math_Expansion_Bot/credentials.json
Wiki-FTB

JS/Bughouse_Server-Client
JS/Learning_Bot
JS/SolutionSystem
JS/TT_Utils
JS/Wizzerine_Bot
Lua/Minetest
PHP/Conduit
PHP/Heroku
Python/PDM_Site

JS/HSE_Lecture_Server/node_modules
JS/Math_Expansion_Bot/node_modules

Python/Spriter/charts
Python/Spriter/out
Python/Spriter/resources
Python/Spriter/sprites

Python/Tex_Recombiner/docs
Python/Tex_Recombiner/out
Python/Tex_Recombiner/tmp

Tex/**/*.aux
Tex/**/*.fls
Tex/**/*.log
Tex/**/*.fdb_latexmk
Tex/**/*.out
Tex/**/*.synctex.gz

.metadata/append.vim
.metadata/current
