<title>Сервер конспектов</title>
<link rel="stylesheet" href="/bootstrap.min.css" />
<script src="/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/bootstrap-treeview.min.css" />
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/bootstrap-treeview.min.js"></script>
