snippet reaction "Inline Reaction" b
\schemestart
	\chemfig{$1}\+
	\chemfig{$2}\arrow
	\chemfig{$3}\+
	\chemfig{$4}
\schemestop\hskip6pt --- $5

$0
endsnippet

snippet chf "Chemfig" wA
\chemfig{$1}$0
endsnippet
